.sciencebg {
    background-color: #d2dad7;
}

.scienceStyle {
    padding-top: 80px;
    text-align: center;
    color: darkslategrey;
}

.sciencenews {
    max-width: 600px;
    margin: 10px auto 0;
    padding-bottom: 20px;
}

.sciencenews a {
    text-decoration: none;
    color: #000;
}

.sciencenews h2 {
    width: 90%;
    margin: 10px auto;
}

.sciencenews a:hover,
.sciencenews a:focus {
    color: rgb(207, 0, 0);
}

.sciencenews img {
    display: block;
    width: 90%;
    margin: 10px auto;
}

.sciencenews p {
    width: 90%;
    margin: 10px auto;
    line-height: 1.5;
}

.sciencenews p a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(1, 1, 126);
    margin: 0 10px;
    border-bottom: 2px solid rgb(1, 1, 126);
    font-weight: 700;
}

.sciencenews p a:hover,
.sciencenews p a:focus {
    color: rgb(207, 0, 0);
    border-bottom-color: rgb(207, 0, 0);
}

.sciencenews h4 {
    width: 90%;
    margin: 5px auto 0;
}